extends base/_login-signup

include mixins/_address-form-inputs

block loginSignupContent
  h2.heading-quadinary.heading-quadinary--2 New address (For checkout)

  form.form
    +addressFormInputs  


    .form__btn-group
      button#login-form-btn.btn.btn--full.btn--round.btn--red.btn--load
        span.btn--load__content Save and continue
        span.btn--load__load-content
          i.fa.fa-circle-o-notch.fa-spin
          | &nbsp;Loading