section.brands-ad
  img.brands-ad__item(src='/assets/user/img/brand-1.png' alt='Brand 1')
  img.brands-ad__item(src='/assets/user/img/brand-2.png' alt='Brand 2')
  img.brands-ad__item(src='/assets/user/img/brand-3.png' alt='Brand 3')
  img.brands-ad__item(src='/assets/user/img/brand-4.png' alt='Brand 4')