section.subscribe
  .subscribe__text
    h2.subscribe__heading Get Our Latest New Offers
    p.subscribe__desc  Never miss an important update, deal or an offer. Subscribe Now!

  form.subscribe__form
    input.subscribe__input(type='email' placeholder='Enter your email')
    button.btn.btn--primary.subscribe__btn Subscribe Now