%text-input-placeholder {
  padding: 0.5rem 1.2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-grey-dark-4);
  line-height: inherit;
  outline: none;

  font-size: 1.4rem;

  &:focus {
    box-shadow: 0 0 0 1px var(--color-grey-dark-2);
  }

  &:disabled {
    background: var(--color-grey-light-2);
  }
}

.form {
  &__group-outer-remove {
    display: grid;
    grid-auto-flow: column;
    gap: 2%;
  }

  &__star {
    font-size: 1.2em;
    color: var(--color-red-darker);
    line-height: 1;
    display: inline-block;
    margin-right: 2px;
  }

  // Groups
  &__group {
    input,
    label {
      // display: block;
      display: flex;
      align-items: flex-end;
    }

    margin-top: 2rem;

    &--no-margin {
      margin: 0;
    }

    // &:not(#{&}--normal) * {
    //   display: block;
    //   // display: initial;
    // }
  }

  &__group--partition-half {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3%;
  }

  &__group--partition-1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3%;
  }

  // Various input
  &__input--disabled {
    background: var(--color-grey-light-2);
  }

  &__input--small {
    @extend %text-input-placeholder;
    width: 5rem;
    font-size: 0.9em;
  }

  &__input--single-line,
  &__select {
    @extend %text-input-placeholder;
  }

  &__input--textarea {
    @extend %text-input-placeholder;
    resize: vertical;
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 0.7fr));
    gap: 1.5rem;
  }

  &__images-box {
    border-radius: 0.5rem;
    // height: 50px;
    // width: 50px;
    // background-color: orangered;
    // padding-bottom: 5rem;
    box-shadow: var(--shadow-primary);
    position: relative;
  }

  &__images-image-outer {
    // background-color: green;
    padding-top: 100%;
    position: relative;
  }

  &__images-image-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    // background: red;
  }

  &__images-image {
    width: 10px;
    height: 10px;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__images-btns-box {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__images-label,
  &__images-remove-label,
  &__images-reset-btn {
    align-items: center;
    justify-content: center;
    // display: block;
    margin: 0 auto;

    margin-bottom: 2px;

    border: none;
    outline: none;

    cursor: pointer;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    color: var(--color-white);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-radius: 0.5rem;
    z-index: 5;
    padding: 0.75rem 0.5rem;
    line-height: 2.5rem;
    transition: all 0.2s;

    &:hover {
      transform: translateY(-1px);
    }
  }

  &__images-label {
    background-color: var(--color-secondary);

    &:hover {
      background-color: var(--color-secondary-dark);
    }
  }

  &__images-remove-label {
    background-color: var(--color-red);

    &:hover {
      background-color: var(--color-red-dark);
    }

    &:disabled {
      background-color: var(--color-red-lighter);
      transform: translateY(0);
      cursor: no-drop;
    }
  }

  &__images-reset-btn {
    background-color: var(--color-blue);

    &:hover {
      background-color: var(--color-blue-dark);
    }

    &:disabled {
      background-color: var(--color-blue-lighter);
      transform: translateY(0);
      cursor: no-drop;
    }
  }

  input#{&}__images-btn,
  input#{&}__images-remove-btn {
    display: none;
  }

  &__text {
    @include currentColorOptions;
    letter-spacing: 0.2px;
    color: var(--current-color-dark);
  }
}

/*
=======================================================================
                            Form tags
=======================================================================
*/

.form-tags {
  margin-top: 1rem;

  &__list-outer {
    background: var(--color-white);
    position: relative;
    line-height: 1.7;

    border-radius: 0.5rem;
  }

  &__btn {
    background-color: transparent;
    border: none;
    outline: none;

    line-height: inherit;
    text-decoration: none;
    color: var(--color-font);
    font-size: 1.4rem;
    font-weight: 500;
    font-weight: 400;
    padding: 0.3rem 0.7rem;
    cursor: pointer;
    transition: all 0.2s;

    color: var(--color-blue-dark);
    font-size: 600;
    border-bottom: 1px solid var(--color-blue-dark);

    letter-spacing: 0.5px;
  }

  &__list {
    z-index: 10;
    display: none;
    position: absolute;
    left: 0;
    top: calc(100% + 0.5rem);
    min-width: 20rem;
    // min-width: 0;
    box-shadow: var(--shadow-primary);
    border: 1px solid var(--color-grey-light-2);

    list-style: none;
    border-radius: 0.5rem;

    background-color: white;
    padding: 0.8rem 1.5rem;

    overflow: hidden;
    overflow-y: auto;

    max-height: 30rem;

    &--show {
      display: block;
    }

    &--no-min {
      min-width: 0;
    }
  }

  &__list-item {
    padding: 0.35rem 0;
  }

  &__list-btn {
    background: transparent;
    outline: none;
    border: none;
    display: inline-block;
    line-height: inherit;
    text-decoration: none;
    color: var(--color-font);
    font-size: 1.35rem;
    font-weight: 500;
    font-weight: 400;
    width: 100%;
    text-align: left;
    cursor: pointer;

    &::before {
      display: inline-block;
      content: '';
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      content: '\f5a2';
      width: 1.2rem;
      height: 1.2rem;
      // border: 1px solid currentColor;
      // border-radius: 50%;
      margin-right: 0.5rem;
      // box-shadow: 0px 0px 0px 2px var(--color-white) inset;
    }

    &--active::before {
      background-color: var(--color-primary);
      border: 1px solid var(--color-primary);
    }

    &:hover {
      color: var(--color-primary);
    }
  }

  //////////////////// Inputs ////////////////////////////////

  &__inputs {
    @include clearfix;
    margin-top: 1rem;
  }

  line-height: 1;

  &__inputs-each-outer {
    background: var(--color-blue-darker);
    padding: 0.8rem 3.2rem 0.8rem 1.4rem;
    margin-right: 0.8rem;
    margin-bottom: 0.8rem;
    float: left;
    border-radius: 50rem;
    position: relative;
  }

  &__inputs-input {
    display: none;
  }

  &__inputs-text {
    color: var(--color-white);
    letter-spacing: 0.5px;
  }

  &__inputs-remove-btn {
    position: absolute;
    right: 0.4rem;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: var(--color-white);
    color: var(--color-blue);
    width: 2.4rem;
    height: 2.4rem;
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      transform: translateY(calc(-50% - 0.5px));
      box-shadow: var(--shadow-primary);
    }
  }
}
