.confirm-dialog__container.u-display-none.js--components-function--confirm-dialog(data-none-class='u-display-none')
  .confirm-dialog
    .confirm-dialog__top-bar 
      .confirm-dialog__heading.js--components-function--confirm-dialog__heading Confirm
      button.btn.btn--text.btn--text-inital-dark.js--components-function--confirm-dialog__close-btn-1 X 
    .confirm-dialog__body.js--components-function--confirm-dialog__body
      | Are you sure you want to perform this action?
    .confirm-dialog__btns 
      button.btn.btn--text.btn--text-inital-dark.js--components-function--confirm-dialog__close-btn-2 Cancel
      button.btn--small.btn.btn--red.btn--round.js--components-function--confirm-dialog__confirm-btn Confirm